/* Custom Stylesheet by Pranav */

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
}

/* Setting specific styles for different breakpoints */
@media (max-width: 480px) {
  /* CSS styles for mobile devices */
  .p-5 {
    padding: 8px !important;
  }
  .img-fluid.project {
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
  }
  .row>* {
    padding-bottom: 10px !important;
  }
  .img-thumbnail{
    margin-top: 10px !important;
    min-height: 40vh !important;
    object-fit:cover !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
}

@media (min-width: 481px) and (max-width: 999px) {
  /* CSS styles for tablets */
  .row>* {
    padding-bottom: 10px !important;
  }
  .img-fluid.project {
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
  }
  .img-thumbnail{
    object-fit:cover;
  }
}

@media (min-width: 1000px) {
  /* CSS styles for laptops */
  /* This style.css file is meant for the same, see below. */
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f4ea;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}

.lead.mb-4 {
  font-weight: 100 !important;
}

/* HEADER STYLES */
.fs-4 {
  font-size: 18px !important;
  /* font-weight: 550; */
}
.nav-link {
  color: #284b63 !important;
}

.nav-link:hover {
  color: #284b63b9 !important;
}

.nav-link.active{
  background-color: #284b63 !important;
  /* color: #f7f4ea !important; */
  color: #ffffff !important; 
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important; */
}

.nav-link.active:hover {
  background-color: #284b63cf !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.nav-link.active:active {
  background-color: #284b63cf !important;
  box-shadow: none !important;
}
/* HEADER STYLES END */

/* HERO STYLES */
.btn.btn-primary.btn-lg.px-4.gap-3 {
  background-color: #284b63 !important;
  border: solid 1px #284b63 !important;
}

.btn.btn-primary.btn-lg.px-4.gap-3:hover {
  background-color: #284b63 !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.btn.btn-primary.btn-lg.px-4.gap-3:active {
  background-color: #284b63 !important;
  box-shadow: none !important;
}

.btn.btn-primary.btn-lg.px-4.gap-3:visited {
  background-color: #284b63 !important;
  box-shadow: none !important;
  color: #f7f4eabd !important;
  text-decoration: underline !important;
}


.btn.btn-outline-secondary.btn-lg.px-4{
  border: 1px solid #121212 !important;
  color: #121212 !important;
}

.btn.btn-outline-secondary.btn-lg.px-4:hover{
  border: 0.5px solid #121212 !important;
  color: #f7f4ea !important;
  background-color: #121212;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-secondary.btn-lg.px-4:active{
  border: 0.5px solid #121212 !important;
  color: #f7f4ea !important;
  background-color: #121212;
  box-shadow: none !important;
}

.btn.btn-outline-secondary.btn-lg.px-4:visited{
  border: 0.5px solid #121212 !important;
  color: #f7f4ea !important;
  background-color: #121212;
  box-shadow: none !important;
  text-decoration: underline !important;
}
/* HERO STYLES */

/* PROJECTS STYLES */
.img-thumbnail{
  padding: 50px;
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 70px !important;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit:cover;
}

.btn.btn-outline-secondary.btn-lg.px-4.github {
  margin-top: 10px;
}

.text-bg-dark {
  color: #fff!important;
  /* background-color: #284b63!important; */
  background-color: #353535!important;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.bg-body-tertiary {
  color: #fff!important;
  /* background-color: #284b63!important; */
  background-color: #353535!important;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.d-md-flex.flex-md-equal {
  font-family: 'Raleway', sans-serif;
}

.d-md-flex.flex-md-equal.w-100.my-md-3.ps-md-3 h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #f7f4ea !important;
}

.d-md-flex.flex-md-equal.w-100.my-md-3.ps-md-3 p {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: #f7f4ea !important;
}

.bg-body-tertiary.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #f7f4ea !important;
}

.bg-body-tertiary.me-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden p {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: #f7f4ea !important;
}

.btn.btn-outline-secondary.btn-lg.px-4.projkm {
  /* border: 0.5px solid #284b63 !important; */
  border: 0.5px solid #f7f4ea !important;
  color: #f7f4ea !important;
  /* background-color: #284b63 !important; */
  background-color: #353535 !important;
}

.btn.btn-outline-secondary.btn-lg.px-4.projkm:hover {
  border: 0.5px solid #284b63 !important;
  color: #f7f4ea !important;
  background-color: #284b63 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-secondary.btn-lg.px-4.projkm:active {
  border: 0.5px solid #284b63 !important;
  color: #f7f4ea !important;
  background-color: #284b63 !important;
  box-shadow: none !important;
}

/* Specific to Project Pages */

.container.projects {
  padding: 20px !important;
}

.img-fluid.project {
  width: auto;
  height: auto;
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  min-height: 40vh;
  object-fit:cover;
}

.p-5.text-center.bg-body-tertiary.rounded-3 {
  background-color: #d9d9d9 !important;
}

.px-4.py-5.my-5.text-center {
  padding-bottom: 5px !important;
  margin-bottom: 40px !important;
}

.text-body-emphasis {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.lead {
  padding: 25px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400 !important;
  color: #121212;
}