* {
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    margin: auto;
}

body {
    /* Trying to achieve light mode */
    background-color: #121212;
    color:  rgba(250, 250, 250, 0.8);
}

h1 {
    font-size: 75px;
    font-weight: 800;
    padding: 10px;
    padding-top: 100px;
}

h2 {
    font-size: 50px;
    font-weight: 800;
    padding: 10px;
    padding-top: 60px;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}

p {
    font-size: 16px;
    padding: 10px;
}

header {
    background-color: #121212;
    height: 65px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

header img {
    margin-left: 40px;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    font-size: small;
}

nav ul li {
    list-style-type: none;
    display: inline;
    position: relative;
    right:0;
    padding: 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 8px 20px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #121212;
    transition: 0.5s;
}

nav ul li a:active {
    background-color: gray;
    color: #121212;
}

/* active link on the navigation bar */
.activeState {
    background-color: #ffffff;
    color: #121212;
}

/* Button style for general usage */
.button {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
}

.button:hover {
    background-color: #ffffff;
    color: #121212;
    transition: 0.5s;
}

.main {
    min-height: 100vh;
    background-image: url(media/mainbg.jpg);
    background-position: center;
    background-size: cover;
    position: static;
}

.mainSection-text {
    color: #121212;
    width: 45%;
    display: block;
    text-align: center;
}

.story {
    background-color: #121212;
    min-height: 80vh;
}

.story-text {
    padding: 50px;
    width: 50%;
    display: block;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

.story-text a {
    color: aquamarine;
}

.story-text a:hover {
    color: #ffffff;
}

.bg-highlight-textbox {
    background-color: rgba(205, 172, 129, 0.6);
    border-radius: 8px;
    padding: 10px;
}

.section-information {
    line-height: 150%;
}

.section-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

/* For the features.html page */

.feature-card {
    color: #ffffff;
    background-color: rgb(56, 54, 54);
    /* color: #121212;
    background-color: rgba(255, 255, 255, 0.7); */
    padding:25px;
    width:28%;
    margin-top: 20px;
}

.feature-card p {
    padding: auto;
    padding-left: 0;
}

.featurecards {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featuresSection-text {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

/* For the Media page */

.media {
    min-height: 100vh;
    background-image: url(media/group1.jpg);
    /* background-color: rgba(56, 54, 54, 0.1); */
    background-position: center;
    background-size: cover;
    position: static;
}

.images {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap:10px;
    row-gap: 10px;
    grid-template-areas: 
    /* 'a b e e'
    'a b e e'
    'c d f f'
    'c d f f' */
    'a a b b'
    'a a b b'
    'c c d d'
    'e e f f'
}

.image-card1 {
    grid-area: a;
}
.image-card2 {
    grid-area: b;
}
.image-card3 {
    grid-area: c;
}
.image-card4 {
    grid-area: d;
}
.image-card5 {
    grid-area: e;
}
.image-card6 {
    grid-area: f;
}

.gridImg {
    /* width:100%; */
    /* width: 450px; */
    /* min-width: 250px; */
    /* max-width: 550px; */
    width: 550px;
    min-height: 150px;
    max-height: 400px;
    /* object-fit: cover; */
}

/* .images {
    display: grid;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-card {
    color: #ffffff;
    background-color: rgb(23, 23, 23);
    width:75%;
    margin-top: 20px;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

footer a {
    color: aquamarine;
}

footer a:hover {
    color: #ffffff;
}